body{
    margin: 0;
    background-color: rgb(61, 54, 54);
}
h1{
    color: white;
    text-align: center;
}
p{
    color: rgb(34, 34, 163);
    font-size: 20px;
}

li{
    text-decoration: underline;
    list-style-type: square;
}
li:hover{
    color: yellow;
    transform: scale(1.2);
}